@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;700&display=swap");

* {
	/* box-sizing: border-box; */
	font-family: League Spartan, sans-serif;
}

:root {
	--background-color-primary: #fff;
	--background-color-secondary: #666;
	--font-color-primary: #000;
	--font-color-secondary: #dcdcdc;
	/*Paleta de Colores - Opcion 1*/
	--paleta-1-01: #5aa9e6;
	--paleta-1-02: #7fc8f8;
	--paleta-1-03: #f9f9f9;
	--paleta-1-04: #00487c;
	--paleta-1-05: #2b2d42;
	/*Paleta de Colores - Opcion 1*/
	--paleta-1-01: #5aa9e6;
	--paleta-1-02: #7fc8f8;
	--paleta-1-03: #f9f9f9;
	--paleta-1-04: #6247aa;
	--paleta-1-05: #672a4e;
}

body {
	display: flex;
	/* align-items: center;
	justify-content: center; */
	/* height: 100vh; */
	/* overflow: hidden; */
	margin: 0;
	padding: 0;
	position: relative;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	/* background-color: #fff; */
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 40vw;
}

.welcome {
	display: block;
	font-family: monospace;
	white-space: nowrap;
	border-right: 4px solid;
	width: 38ch;
	font-size: 1.2rem;

	animation: typing 2s steps(38), blink 0.5s infinite step-end alternate;
	overflow: hidden;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border: transparent;
	}
}

.hello-message > h1 > a {
	text-decoration: none;
	color: inherit;
	font-size: 3rem;
}

.nav-menu-list {
	padding: 0;
}

.navbar ul li {
	font-size: 1.5rem;
	list-style: none;
	transition: background-color 0.3s ease-in;
	padding: 5px 20px;
	/* width: 120%; */
}

.container-contact {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	width: 200px;
	font-size: 1.8rem;
}

.container-contact a {
	color: #000;
}

.container-contact a i {
	padding: 4px;
	border-radius: 9px;
	color: #000;
}

.container-contact i.fa-instagram:hover {
	color: #fff;
	opacity: 1;
	background: linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
}

.container-contact i.fa-linkedin:hover {
	color: #0e76a8;
}
.container-contact i.fa-envelope:hover {
	color: #ad0d08;
}

.navbar ul li:hover {
	background-color: #dcdcdc;
}

main {
	margin-left: 40vw; /* Asegura que el contenido del main no esté oculto detrás del header fijo */
	padding: 20px;
	margin-top: 20px;
	overflow: auto;
}

.puntero {
	background-color: #000;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	filter: blur(50px);
	z-index: -10;
}
