#root {
}

.app__globalContainer {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto;
	/* align-items: center;
	justify-content: center;
	text-align: center; */
	height: 100%;
	box-sizing: border-box;

	header,
	main,
	footer {
		/* border: 1px solid black; */
		/* height: 100%; */
	}
}
