@import 'tailwindcss';
@plugin "daisyui" {
	themes:
		light --default,
		dark --prefersdark,
		bumblebee,
		synthwave,
		autumn,
		forest;
}

:root {
	/* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
	font-family: 'Lato', sans-serif;
	font-display: optional;
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

section[id] {
	scroll-margin-top: 4rem; /* ajuste de la altura de la navbar */
}
